header, hgroup, nav, footer, figure, figcaption, aside, section, article {
	display: block;
}
body {
	background-image: url("ptrbackground.jpg");
	color: #00569f;
	font-family: Arial, Helvetica, sans-serif;
}

nav {
    width: 200px; 
	height: 670px; /*changes the size of sections? */
	background-color: #56a3ca;
	z-index: 0;
	padding-top: 5px;
	margin-left: 110px;
	
}

nav ul {
	list-style-image: url('');
	font-size: 20px;
	list-style-type: none
	
}

nav a:link {
	text-decoration: none;
	color:rgb(8, 8, 109);
	font-weight: bolder;
}

nav a:visited {
	color: #344873;
	text-decoration: none;
}

nav a:hover {
	color: #FFFFFF;
	text-decoration: none;
}

h1 {
	background-image: url("sunset.jpg");
	background-size: 100% 100%;
	width: 910px; 
    height: 35px; 
	color: white; /* font color */
	
	margin-bottom: 10px; /* moves content up and down */
	font-family: 'Times New Roman', Times, serif;
	font-size: 42px;
	margin-left: 110px; /* Pushes the top banner to the right of the nav */
    padding: 20px;
	z-index: 1; /* top banner overlaps */
	top: -0px;

}

h2 {
	color: #3399CC;
}

h2 {
	font-family: Georgia, "Times New Roman", serif;
}

.resort {
	color:rgb(32, 125, 182);
	font-weight: bolder;
}

ul {
	list-style-image: url('marker.gif');
}

img[src="coast.jpg"] {

}


#content {
	z-index: 0;
	background-color: white;
	margin-left: 310px; /* changes margin of content area. Higher = more to the right  */

	margin-top: -720px;
	font-size: 15px;
	width: 670px; /* changes width of content area not including footer */
	height: 600px;
	padding: 40px;
}

#contact {
	font-size: 90%;
}
dt {
	color: #000033;
}
footer {
	background-color: white;
	font-family: Georgia, "Times New Roman", serif;
	margin-left: 310px; /* changes margin of footer. Higher = more to the right  */
	padding: 40px;
	width: 670px;
	margin-top: -90px;
}

